.App {
  text-align: center;
}

.red{
  color: red;
}

.bold{
  font-weight: bold;
}

.App Button {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.App Button:hover {
   background-color: lightgreen;
   color: black;
 }

.App Button.Red:hover {
    background-color: salmon;
}


